.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;

  width: 100%;
  height: 200px;

  user-select: none;
}

.header img {
  width: 22px;
}

.header div strong {
  display: inline-block;
  font-size: 2.5rem;
  color: var(--purple);

  user-select: none;

  transition:
    color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  transform-origin: bottom center;
}

.header div strong:hover {
  color: var(--blue-dark);
  transform: scale(1.2);
}

.header div strong:first-child {
  color: var(--blue);
}

.header div strong:first-child:hover {
  color: var(--purple-dark);
  transform: scale(1.2);
}
